 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1209px;
}

.u-section-1 .u-shape-1 {
  width: 176px;
  height: 176px;
  background-image: none;
  margin: 60px 50px 0 auto;
}

.u-section-1 .u-shape-2 {
  width: 662px;
  height: 334px;
  margin: 337px 0 0 auto;
}

.u-section-1 .u-image-1 {
  width: 498px;
  height: 498px;
  margin: -832px auto 0 137px;
}

.u-section-1 .u-group-1 {
  width: 462px;
  min-height: 549px;
  margin: -302px 88px 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 40px 30px 35px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 75px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 20px 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.125rem;
  font-weight: 300;
  margin: 20px 178px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  padding: 0;
}

.u-section-1 .u-shape-3 {
  width: 130px;
  height: 33px;
  margin: -33px auto 60px 107px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-1 {
    margin-top: 77px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -524px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -645px;
  }

  .u-section-1 .u-shape-3 {
    margin-left: 34px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1334px;
  }

  .u-section-1 .u-shape-1 {
    width: 161px;
    height: 161px;
    margin-top: 427px;
  }

  .u-section-1 .u-shape-2 {
    width: 543px;
    height: 256px;
    margin-top: 387px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -351px;
  }

  .u-section-1 .u-group-1 {
    width: 371px;
    min-height: 494px;
    margin-top: -740px;
    margin-right: 27px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 30px;
    padding-left: 30px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 87px;
  }

  .u-section-1 .u-shape-3 {
    margin-top: -14px;
    margin-left: 27px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1385px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 405px;
    margin-right: 20px;
  }

  .u-section-1 .u-shape-2 {
    width: 390px;
    height: 461px;
    margin-top: 388px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -353px;
    margin-left: 42px;
  }

  .u-section-1 .u-group-1 {
    width: 298px;
    min-height: 503px;
    margin-top: -698px;
    margin-right: 46px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-text-3 {
    margin-right: 67px;
  }

  .u-section-1 .u-shape-3 {
    margin-top: -323px;
    margin-left: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1248px;
  }

  .u-section-1 .u-shape-1 {
    width: 146px;
    height: 146px;
    margin-top: 368px;
    margin-right: 24px;
  }

  .u-section-1 .u-shape-2 {
    height: 475px;
    width: 370px;
    margin-top: 447px;
    margin-right: -50px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-top: -322px;
    margin-left: 0;
  }

  .u-section-1 .u-group-1 {
    width: 278px;
    min-height: 489px;
    margin-top: -551px;
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-shape-3 {
    margin-top: -546px;
    margin-left: 11px;
  }
} .u-section-2 {
  background-image: none;
  min-height: 942px;
}

.u-section-2 .u-text-1 {
  margin: 84px auto 0;
}

.u-section-2 .u-list-1 {
  width: 1140px;
  margin: 84px auto 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
  min-height: 590px;
  grid-gap: 20px;
}

.u-section-2 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 0 30px;
}

.u-section-2 .u-image-1 {
  height: 305px;
  width: 312px;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  margin: 32px auto 0;
}

.u-section-2 .u-text-3 {
  font-size: 1rem;
  font-style: italic;
  margin: 20px 31px 0;
}

.u-section-2 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 0 30px;
}

.u-section-2 .u-image-2 {
  height: 305px;
  width: 312px;
  margin: 0 auto;
}

.u-section-2 .u-text-4 {
  font-size: 1.25rem;
  margin: 32px auto 0;
}

.u-section-2 .u-text-5 {
  font-size: 1rem;
  font-style: italic;
  margin: 20px 31px 0;
}

.u-section-2 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 0 30px;
}

.u-section-2 .u-image-3 {
  height: 305px;
  width: 312px;
  margin: 0 auto;
}

.u-section-2 .u-text-6 {
  font-size: 1.25rem;
  margin: 32px auto 0;
}

.u-section-2 .u-text-7 {
  font-size: 1rem;
  font-style: italic;
  margin: 20px 31px 0;
}

.u-section-2 .u-text-8 {
  letter-spacing: normal;
  font-size: 1.125rem;
  font-weight: 400;
  text-transform: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 30px auto 60px;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    width: 940px;
    margin-top: 252px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 13.3333px));
    min-height: 483px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 9.999975px));
    min-height: 1147px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-list-1 {
    width: 340px;
  }
}