body {
  font-family: sans-serif;
  background-color: #ffffff;
  color: #000000;
}

h1 {
  font-size: 2em;
  font-weight: bold;
}

p {
  font-size: 1em;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid #000000;
  padding: 5px;
}

th {
  text-align: left;
}

.container {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

.header {
  background-color: #000000;
  color: #ffffff;
  padding: 10px;
}

.main {
  padding: 10px;
}

.footer {
  background-color: #ffffff;
  color: #000000;
  padding: 10px;
}
